<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,1280</width_height>
    <src_scale>1.0,1.0</src_scale>
    <max>23</max>
    <model>
        <chance_range>0,.3</chance_range>
        <active_time>500,1200</active_time>
        <src_ltwh>0,0,5,80</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1270,60,10</move_to>
        <rotate>-10,-5,1,1</rotate>
        <alpha>100,150</alpha>
        <scale>1,1</scale>
    </model>
    <model>
        <chance_range>.3,.7</chance_range>
        <active_time>1000,2000</active_time>
        <src_ltwh>0,0,5,80</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1270,60,10</move_to>
        <rotate>-10,-5,1,1</rotate>
        <alpha>50,100</alpha>
        <scale>.5,1</scale>
    </model>
    <model>
        <chance_range>.7,1</chance_range>
        <active_time>2000,3000</active_time>
        <src_ltwh>0,0,5,80</src_ltwh>
        <move_from>-50,-10,match_parent,10</move_from>
        <move_to>offset:50,1270,60,10</move_to>
        <rotate>-10,-5,1,1</rotate>
        <alpha>0,50</alpha>
        <scale>.2,.5</scale>
    </model>
</scene>
