<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,1280</width_height>
    <src_scale>1.0,1.0</src_scale>
    <max>23</max>
    <model>
        <chance_range>0,.7</chance_range>
		<active_time>4000,7000</active_time>
        <src_ltwh>0,0,12,12</src_ltwh>
		<move_from>0,-10,match_parent,10</move_from>
		<move_to>0,1280,match_parent,10</move_to>
        <rotate>0,100,500,600,28,20</rotate>
		<alpha>150,255</alpha>
		<scale>1,2,0,0.2</scale>
    </model>
    <model>
        <chance_range>.7,.9</chance_range>
		<active_time>4000,7000</active_time>
        <src_ltwh>0,14,24,31</src_ltwh>
		<move_from>0,-10,match_parent,10</move_from>
		<move_to>0,1280,match_parent,10</move_to>
        <rotate>0,100,500,600,19,27</rotate>
		<alpha>150,255</alpha>
		<scale>1,2,0,0.2</scale>
    </model>
    <model>
        <chance_range>.9,1</chance_range>
		<active_time>4000,7000</active_time>
        <src_ltwh>26,0,36,42</src_ltwh>
		<move_from>0,-10,match_parent,10</move_from>
		<move_to>0,1280,match_parent,10</move_to>
        <rotate>0,100,500,600,4,4</rotate>
		<alpha>150,255</alpha>
		<scale>1,1.5,0,0.2</scale>
    </model>
</scene>
