<?xml version='1.0' encoding='utf-8' standalone='yes' ?>
<scene>
    <width_height>720,600</width_height>
    <src_scale>1.0,1.0</src_scale>
    <layout_type>bottom</layout_type>
    <duration>6000</duration>
    <max>7</max>
    <model>
        <chance_range>0,1</chance_range>
        <active_time>1700,2100</active_time>
        <src_ltwh>0,0,52,52</src_ltwh>
        <move_from>30,30,660,540</move_from>
        <move_to>offset:0,offset:-70,0,0</move_to>
        <move_interpolator>linear,spring</move_interpolator>
        <rotate>-70,-60,-20,-10,13,39</rotate>
        <rotate_interpolator>wave_4</rotate_interpolator>
        <alpha>0,0,255,255</alpha>
        <alpha_interpolator>spring</alpha_interpolator>
        <scale>1.2,1.6</scale>
    </model>
</scene>
